@use '../abstracts/variables' as var;

.latest-news {
  margin-bottom: 13rem;

  .card-small__container {
    overflow-x: scroll;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      background-color: var.$black-color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--orange-color);
      border: 4px solid var.$beige-color;
      border-radius: 500px;
    }
    &::-webkit-scrollbar-track {
      border: 8px solid var.$beige-color;
    }

    .card-holder {
      margin-top: 4rem;
      margin-bottom: 6rem;
    }
  }

  .btn-row {
    margin-top: 8rem;
  }
}
