@use '../abstracts/variables' as var;

.person-detail {
  margin-top: 14.4rem;
  margin-bottom: 18.4rem;
  p {
    line-height: 4rem;
    margin-top: 2rem;
  }

  img {
    border-radius: 4rem;
  }

  &__projects {
    margin-bottom: 5.6rem;
  }

  &__projects {
    h2 {
      margin-bottom: 5.6rem;
    }

    &--status {
      margin-bottom: 4rem;
      h4 {
        display: inline-block;
        border: 3px solid var.$black-color;
        border-radius: 4rem;
        padding: 0.5rem 8rem;
      }
    }
  }
}
