@use '../abstracts/variables' as var;

.services-buttons {
  margin-top: 18.6rem;
}

.service-container {
  &__text {
    margin-top: 14.4rem;

    p {
      margin-top: 3.2rem;
      margin-bottom: 14.4rem;
      line-height: 4rem;
    }
  }

  &__images {
    margin-bottom: 20rem;
    img {
      border-radius: 3rem;
    }
  }
}
