@use '../abstracts/variables' as var;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var.$beige-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1520px;
  }
}
