// Font settings
$font-family-base: 'Mulish', sans-serif;
$font-family-primary: 'Montserrat', sans-serif;

$font-size-small: 1.6rem;
$font-size-normal: 2rem;
$font-size-big: 2.4rem;
$font-size-bigger: 3.2rem;
$font-size-biggest: 4.8rem;
$font-size-large: 5.6rem;
$font-size-larger: 8rem;

$line-height-base: 1.5;

$font-weight-lighter: 400;
$font-weight-normal: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;

// Size settings
$gutter-base: 3rem;

// Color settings
$white-color: #fff;
$beige-color: #fbf8f4;
$grey-color: #cac6c6;
$black-color: #191919;
$yellow-color: #f8ac2e;
$yellow-dark-color: #ff9c00;
$orange-color: #fb5e3c;
$orange-dark-color: #f82d00;
$violet-color: #b8afda;
$violet-dark-color: #785edd;

// Border
// $border-base: 1px solid $grey-level-2;

// Shadow
$shadow-primary: 5px 5px 50px 0px #0000000d;
$shadow-secondary: 5px 5px 20px 0px #0000001a;
