@use '../abstracts/variables' as var;

.projects {
  h1 {
    margin-top: 14.4rem;
    margin-bottom: 14.4rem;
  }

  &-ongoing_title {
    h2 {
      margin-bottom: 5.6rem;
    }
  }

  &-finished_title {
    h2 {
      margin-top: 16rem;
      margin-bottom: 5.6rem;
    }
  }

  &-finished_cards {
    margin-bottom: 20rem;
  }

  &_pagination {
    margin-top: 4rem;
    button {
      font-size: var.$font-size-big;
    }
  }
}
