@use '../abstracts/variables' as var;

.services-buttons {
  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &__line {
    height: 1px;
    background-color: var.$black-color;
    margin-top: 1.6rem;

    &.active {
      height: 1rem;
      background-color: var(--orange-color);
      border-radius: 10px;
      margin-top: 1.2rem;
    }
  }
}
